importFrom("stats", "quantile", "deltat", "time", "frequency", "rnorm", "start", "end", "ts", "ts.intersect", "ts.union", "window","window<-","na.omit","median")
importFrom("utils", "head", "tail")
importFrom("readr", "read_rds")
importFrom("withr", "with_seed")
importFrom("zoo", "rollsum")
importFrom("openxlsx","createWorkbook","addWorksheet","writeData","saveWorkbook","loadWorkbook")
importFrom("dplyr","%>%","mutate","select")
importFrom("tidyr","pivot_longer")
importFrom("rlang","sym",".data")
importFrom("dygraphs","dygraph","dyAxis","dyHighlight","dyLegend","dyOptions")
importFrom("ggplot2","aes","geom_line","ggplot","geom_ribbon","geom_text","labs","theme","scale_fill_manual","element_blank","element_line","scale_x_date")
importFrom("MASS","mvrnorm")
importFrom("scales","alpha")
importFrom("reticulate","source_python","py_available","py_module_available")
importFrom("xts","merge.xts","xts","first","last","rbind.xts","periodicity","as.xts","apply.yearly")

export("shocks_generator")
export("sim")
export("export_to_excel")
export("charts")
export("fanchart_percentiles")
export("import_custom_data")
export("event_prob")
export("dde")
